# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
env/
# Django
db.sqlite3
staticfiles/
*.log
server.log
cookies.txt
# IDE / OS
.idea/
.vscode/
.DS_Store
# .NET
cs_module/**/bin/
cs_module/**/obj/
# Env
.env
